.aboutContainer {
  .section1 {
    height: 100vh;
    letter-spacing: -2px;
    align-content: center;
    justify-items: center;
    h3 {
      font-weight: 100;
      font-size: 32px;
      color: #017848;
      margin-bottom: 3rem;
    }
    h2 {
      font-size: 45px;
      max-width: 55%;
      font-weight: 100;
      text-align: center;
      color: rgb(49, 49, 49);
    }
  }
  .section2 {
    display: flex;
    max-width: 55%;
    justify-self: center;
    margin-bottom: 10rem;
    .left {
      margin-right: 8rem;
      h3 {
        font-size: 32px;
        letter-spacing: -2px;
        padding-bottom: 2rem;
      }
      p {
        font-size: 15px;
        color: gray;
        padding-bottom: 3rem;
        line-height: 1.5rem;
      }
      button {
        background-color: #017848;

        color: white;
        border: none;
        border-radius: 10px;
        padding: 0 30px;
        font-size: 0.9rem;
        height: 4.3rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
        &:hover {
          background-color: #004733;
        }
      }
    }
  }
  .section3 {
    background-color: #017848;
    padding: 5rem;
    color: white;
    margin-bottom: 8rem;
    // justify-items: center;
    h3 {
      margin: 0 auto;
      font-size: 45px;
      padding-bottom: 2rem;
      max-width: 57%;
      letter-spacing: -2.7px;
    }

    p {
      margin: 0 auto;
      font-size: 14px;
      line-height: 1.5rem;
      padding-bottom: 1rem;
      max-width: 57%;
    }
  }

  .section4 {
    text-align: center;
    margin-top: 20px;

    h3,
    h2 {
      font-size: 1.8em;
      margin-bottom: 8rem;
      font-weight: 600;
      color: #333;
    }
    h2 {
      margin-bottom: 5rem;
    }

    .companyLogos {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 90px; // Spacing between images
      max-width: 100%;
      margin-bottom: 8rem;

      img {
        max-height: 60px; // Adjust size as needed
        width: auto;
        object-fit: contain;
        mix-blend-mode: multiply;
      }
    }
  }
  .timeline-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
  }

  .timeline-line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #e8ebe6; // Dark green color for the line
    z-index: 0;
  }

  .timeline-item {
    display: flex;
    position: relative;
    margin: 20px 0;
    align-items: center;
  }

  .timeline-year {
    background-color: #017848; // Dark green background for the year
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 1.5rem;
    // font-weight: 100;
  }

  .timeline-description {
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 8px;
    max-width: 50%;
    font-size: 0.9rem;
    line-height: 1.5;
    color: #333;
    position: relative;
    margin-top: 5rem;
    z-index: 1;
  }

  .timeline-description.left {
    margin-right: auto;
    margin-left: calc(50% + 30px); // Shifted right of center line
    text-align: left;
  }

  .timeline-description.right {
    margin-left: auto;
    margin-right: calc(50% + 30px); // Shifted left of center line
    text-align: left;
  }
  .timeline-description p {
    margin: 5px 0;
  }
}
