/* home.scss */

.heroContainer {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 68px);
    background-color: #004733; // Deep green background
    color: #1de07f; // Light green for text
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;

    h1 {
      position: absolute;
      font-size: 5.5rem; // Exact font size for the title
      font-weight: 600;
      color: #1de07f;
      margin: 0;
      top: 12%;
      max-width: 40rem;
      z-index: 2; // Bring text in front of the hand image
    }

    .start {
      display: flex;
      position: absolute;
      left: 25%;
      top: 50%;
      flex-direction: column;
      // align-items: center;
      margin-top: 20px;
      z-index: 2; // Bring button in front of the hand image

      button {
        background-color: #1de07f;
        color: #004530;
        border: none;
        border-radius: 50px;
        padding: 15px 30px;
        font-size: 1rem;
        height: 4.5rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
        margin-bottom: 10px;

        &:hover {
          background-color: #004733;
          color: white;
        }
      }

      p {
        color: #e0e0e0; // Light gray color for the timer text
        font-size: 0.9rem;
        display: flex;
        align-self: center;

        svg {
          margin-right: 5px;
        }
      }
    }

    .hand {
      position: absolute;
      top: 20%;
      left: 45%;
      transform: translateX(-50%);
      width: 250px; // Adjust to match the screenshot
      z-index: 1; // Send the hand image to the back
    }

    .google {
      position: absolute;
      top: 52%;
      right: 20%;
      margin-top: 20px;
      width: 13%;

      img {
        width: 80%; // Size to match Google icon in screenshot
        margin-right: 8px;
      }

      p {
        color: #e0e0e0; // Light gray for text color
        font-size: 0.75rem;
        font-weight: 500;
        width: 90%;
        margin-left: 20px;
      }
    }
  }
}

.findout {
  position: relative;
  display: flex;
  padding: 10rem 0;
  padding-left: 20rem;
  .withImg {
    width: 50%;
    img {
      border-radius: 15px;
    }
    button {
      background-color: #ffffff;
      color: #004530;
      border: 1px solid grey;
      border-radius: 50px;
      margin: 15px 8px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: 0.1s ease;
      margin-bottom: 10px;

      &:hover {
        outline: 5px solid #017848;
        outline-offset: -5px;
      }
    }
  }
  .withoutImg {
    position: absolute;
    top: 32%;
    left: 51%;
    h2 {
      font-size: 88px;
      line-height: 5rem;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      letter-spacing: -2px;
      max-width: 70%;
      padding-bottom: 20px;
      color: #303030;
    }
    button {
      background-color: #004733;
      color: white;
      border: none;
      border-radius: 50px;
      padding: 15px 30px;
      font-size: 1rem;
      height: 4.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin-bottom: 10px;
      &:hover {
        background-color: #017848;
      }
    }
    .text {
      display: flex;
      flex-direction: row;
      p {
        padding-left: 10px;
      }
      .span1,
      .span2 {
        padding-top: 4px;
      }
      .span2 {
        color: grey;
      }
    }
  }
}
.gotaQues {
  max-width: 70%;
  margin: 0 auto;
  .headline {
    display: flex;
    .h2 {
      h2 {
        font-size: 44px;
        font-weight: 100;
        color: #414040;
      }
    }
    .buttons {
      margin: 2.8rem 0 0 25rem;
      button {
        background-color: #ffffff;
        color: #004530;
        border: 1px solid grey;
        border-radius: 50px;
        margin: 15px 8px;
        padding: 10px 20px;
        font-size: 1rem;
        cursor: pointer;
        transition: 0.1s ease;
        margin-bottom: 10px;

        &:hover {
          outline: 5px solid #017848;
          outline-offset: -5px;
        }
      }
    }
  }
  .betterGrid {
    margin-bottom: 9rem;
    p {
      font-size: 14px;
      margin-top: 1rem;
    }
    button {
      background-color: #f0f7f1;
      border-radius: 50px;
      padding: 10px 11px 7px 11px;
      font-size: 1.5rem;
      border: 1px solid grey;
      margin: 2rem 0;

      &:hover {
        background-color: #004733;
        color: white;
      }
    }
    padding-top: 5rem;
    .boxsmall {
      max-width: 35%;
      background-color: #f0f7f1;
      padding: 30px 50px 30px 50px;
      border-radius: 10px;
      img {
        height: 9rem;
        margin-top: 1rem;
      }
    }
    .boxBig1 {
      display: flex;
      margin-left: 1.5rem;
      background-color: #f0f7f1;
      padding: 30px 50px 30px 50px;
      border-radius: 10px;
      img {
        margin-left: 2rem;
      }
    }
    .boxBig2 {
      display: flex;
      margin-right: 1.5rem;
      background-color: #f0f7f1;
      padding: 30px 50px 30px 50px;
      border-radius: 10px;
      img {
        margin-right: 2rem;
      }
    }
    .upper {
      display: flex;
    }
    .lower {
      margin-top: 20px;
      display: flex;
    }
  }
}
